*{
    
    font-family: 'Thasadith', sans-serif;
    box-sizing: border-box;
    
}



body{
    margin:0
}

header {
    display:inline-flex;
    width:100%;
    background-color: #bd8c7d;
    color:#49494b;
    height: 150px;
}

main{
    color:#49494b;
    background-color:silver;
}

p, .tabs{
    font-size:20px
}

h2{
    font-size:28px
}

h4{
    font-size:24px
}

.headerName{
    font-size: 30px;
    width:60%;
    text-align: center;
    padding-top:50px;
    
}

.name{
    width:100%;
    display: inline-flex
}

.intro, #workWith, #aboutMe {
    display:flex;
    justify-content: center
}

.earbugs, .discGolf, .pantry {
    padding-bottom:80px;
}

#workWith{
    margin:20px;
}

.discGolf{
    display:block;
    animation-duration: 3s;
    width:80%
}

.pantry{
    display:block;
    animation-duration: 3s;
    width:80%;
    margin: 0 auto
}

.contact{
    display:flex;
    justify-content: center;
}

.logo{
    max-width:120px;
    margin: 30px;
}



.earbugs{
    display:block;
    animation-duration: 3s;
    width:80%;
    margin: 0 auto;
}

.bio{
    display: block;
    margin: 0 auto
    
}

.tab:hover{
    cursor: pointer;

}

.tab {
    padding: 10px;
    border: 1px ;
    background-color:#bd8c7d;
    color:#49494b;
}

.projectBox{
    display:block;
    width:100%;
    padding-top:50px
}

.projectBox h2{
    text-align:center;
    margin-bottom:20px;
}

.projects{
    
    display:block;
    width:100%;
    margin: 0 auto;
    
}

.description{
    width:80%;
    text-align:center;
    margin:0 auto;
    margin-bottom:20px;
    margin-top:20px;
}

.slide {
    
    width: 100%
}

.goodbye{
display: flex;
justify-content: center;
}

.tabs {
    display:inline-flex;
    justify-content: center;
    margin:0 auto;
    width:100%;
}

.iframeBox{
    width:100%;
    display: flex;
    justify-content: center
}

iframe {
    min-height: 500px;
    min-width:360px;
    max-width: 700px;
    width: 70%;
    height:100%
}

.bitmoji{
    width:20%;
    height:100%;
}

.link{
    display: flex;
    justify-content: space-around;
    
}

a{
    color:silver;
    text-decoration: none;
    font-size: 20px;
}

#hello {
    max-height: 150px;
    margin-left:0px;
} 

.carousel{
    max-width:65%;
    margin:0 auto;
    min-height:320px;
    min-width:560px
}

.carousel-indicators{
    margin-bottom:0;
    bottom:-10px !important;
}

.mobile{
    display:none;
}
  
  
@media screen and (max-width: 650px){
    .headerName{
        font-size: 20px;
        padding-top:40px;
    }

    .logo {
        display:block;
        max-width:70px
    }

    .carousel{
        max-width:80%;
        min-width:300px;
    }

    .main{
        display:none;
    }

    .mobile{
        display:block;
    }
}